<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin-top: 50px;
            text-align: center;
        }
        .container{
            display: inline-block;
            background-color: lightcoral;
            padding: 10px;
            border-radius: 8px;
        }
        .container img{
            max-width: 100%;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Data</h2>
        <img src="static/output.png" alt="" srcset="">
    </div>
</body>
</html>